/* Navbar Styles */
.custom-navbar {
    background-color: transparent;
    position: fixed !important;
    top: 0;
    right: 0;
}
.custom-navbar-item {
    font-size: 180%;
}
.custom-navbar-link {
    text-transform: uppercase;
    font-weight: 900;
    transition: .15s all;
    margin-left: 3vw;
}
.custom-navbar-link:hover {
    color: #EA4E5E;
    cursor: pointer;
}
.navbar-nav {
    text-align: right;
}

/* Section Styles */
.full-view-section {
    height: 100vh;
}
.half-view-section {
    height: 50vh;
}
.particle-ahead {
    z-index: 1000;
}
.welcome {
    background-color: #141617;
}
.equal {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}
.image-container {
    background-color: #EA4E5E;
    background-image: url(".././imgs/bricks2.jpg");
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
}
.image-cover {
    z-index: 100;
    background-color: #852a33;
    opacity: 0;
}

/* Text Styles */
.default-text {
    color: #FAF0F0;
    font-family: "Montserrat", "Open Sans", sans-serif;
    font-size: 1em;
}

/* Title + Title Text media queries */
.title-text {
    font-family: "Yatra One", "Open Sans", cursive;
}
.red-text {
    color: #EA4E5E;
}


/* Media Styles for Bootstrap */
@media only screen and (max-width: 576px) {
    .title-text {
        font-size: 500%;
    }
    .subtitle-text {
        font-size: 100%;
    }
    .nav-link {
        font-size: 70% !important;
    }
}
@media only screen and (min-width:576px) and (max-width: 768px) {
    .title-text {
        font-size: 500%;
    }
    .subtitle-text {
        font-size: 100%;
    }
    .nav-link {
        font-size: 70% !important;
    }
}

@media only screen and (min-width:768px) and (max-width: 992px) {
    .title-text {
        font-size: 700%;
    }
    .subtitle-text {
        font-size: 120%;
    }
    .nav-link {
        font-size: 85% !important;
    }
}

@media only screen and (min-width:992px) {
    .title-text {
        font-size: 1000%;
    }
    .subtitle-text {
        font-size: 140%;
    }
    .nav-link {
        font-size: 100% !important;
    }
}


/* -- Other Styles -- */

/* Down button style */
.custom-down {
    color: #FAF0F0;
    transition: .2s all;
}
.custom-down:hover {
    color:  #EA4E5E;
    cursor: pointer;
}